.form-task {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  background-color: #f7fbfd;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.btn_check,
.btn_delete {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn_check-img {
  width: 28px;
  height: 28px;
  background-size: cover;
  border-radius: 100%;
  /* background-color: #d9d9d9; */
  border: 2px solid #1f89d8;
}

.img-check {
  background-color: #1f89d8;
}

.btn_delete-img {
  width: 32px;
  height: 32px;
  background-size: cover;
}

.btn_delete:hover {
  opacity: 0.8;
}

.btn_text {
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #f7fbfd;
  color: #3575bd;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: default;
  white-space: nowrap;
  overflow-x: auto;
}

.btn_text::before {
  content: "";
  padding-left: 12px;
}

.btn_text-edit {
  width: 80%;
  font-size: 1.4rem;
  color: #3575bd;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
}

.btn_text-edit:first-child {
  content: "";
  padding-left: 24px;
}

.btn_text-edit:focus {
  outline: none !important;
  border: 2px solid #3a61b4;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
}

.task-done {
  opacity: 0.6;
  text-decoration: line-through;
  font-style: italic;
}

@media (max-width: 46.1875em) {
  .btn_text {
    overflow-x: scroll;
  }
}
