.comment {
  margin-top: 36px;
  display: flex;
  background-repeat: no-repeat;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(56, 140, 202, 0.6);
  /* background-color: red; */
}
