html {
  background-image: url("./img/fish-bone-bg.png");
  background-size: contain;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "palt";
}

.app {
  width: 100%;
  height: 100%;
  margin: 24px 0;
}

.body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  min-width: 500px;
  min-height: 600px;
  border-radius: 60px;
  background-color: #6fc0f0;
}

.footer {
  height: 100px;
}

/* Mobile < 740px  */
@media (max-width: 46.1875em) {
  .container {
    min-width: 350px;
    min-height: 600px;
    border-radius: 60px;
    background-color: #6fc0f0;
  }
}
