.tasks-list {
  margin: 0 16px;
  margin-top: 24px;
  margin-bottom: 36px;
}

.tasks-list-header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.task-input {
  width: 73%;
  position: relative;
  user-select: none;
}

.task-input_add {
  width: 100%;
  height: 40px;
  padding-right: 36px;
  font-size: 0.9rem;
  background-color: #cde7ff;
  border-radius: 40px;
  border: 2px solid #1293db;
  box-sizing: border-box;
  color: #2775ce;
}

.task-input_add:first-child {
  content: "";
  padding-left: 16px;
}

.task-input_add:last-child {
  content: "";
  padding-right: 16px;
}

.task-input_add::placeholder {
  color: rgb(36, 113, 148);
  opacity: 0.8;
}

.task-input_add:focus {
  outline: none !important;
  border: 2px solid #3a61b4;
}

.task-input_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.6rem;
  border-radius: 100%;
  /* background: -moz-linear-gradient(top, #4db7f3 0%, #5f8db8 100%); */
  /* background: -webkit-linear-gradient(top, #4db7f3 0%, #5f8db8 100%); */
  background: linear-gradient(to left bottom, #4db7f3 0%, #5f8db8 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.task-input_icon:hover {
  opacity: 0.8;
}

.task-select {
  width: 25%;
  cursor: pointer;
  position: relative;
}

.task-select-single {
  width: 100%;
  background-color: #cde7ff;
  border-radius: 40px;
  outline: 2px solid #1293db;
  outline-offset: -2px;
  box-sizing: border-box;
  display: flex;
}

.task-select-single:hover {
  opacity: 0.8;
  outline: 2px solid #3a61b4;
  outline-offset: -2px;
  box-sizing: border-box;
}

.task-select-text {
  width: 80%;
  height: 40px;
  color: #4664a4;
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}

.task-select-icon {
  width: 10%;
  color: #4664a4;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-select-list {
  border-radius: 20px;
  background-color: #cde7ff;
  border: 2px solid #1293db;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.no-display {
  display: none;
}

.task-sub-select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  color: #4664a4;
}

.task-sub-select:hover {
  background-color: #1cabe3cc;
  color: #fff;
}
